<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Errores</title>
</head>
<body>
        <%  if (typeof errores !== "undefined" && errores.length) { %>

        <div style="color:red;">

            <p>Por favor, corrige los siguientes errores:</p>
            <ul>
                <%  
                errores.forEach (e => { 
                %>
                    <li><%= e %></li>
                <% }) %>
            </ul>

        </div>

        <% } %>
</body>
</html>